<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsj.com.xsj.dao.TeacherMapper">
    <select id="getTeacherByTid" resultType="Teacher">
        select * from mybatis.teacher where id=#{id};
    </select>
</mapper>
